*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
}

#london{
    background-image: url("../images/londra.jpg");
}

#paris{
    background-image: url("../images/parigi.jpg");
}

#tokyo{
    background-image: url("../images/tokyo.jpg");
}

.modernSection{
    margin: 15px;
    height: 100vh;
    width: 100vw;
    background-color: lightGray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.nameOfCity {
    text-align: center;
    height: 60px;
    position: relative;
    top: calc((100% - 60px) / 2);
}
